<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
</head>
<body>
	<form method="post" th:action="@{/registerUser}" >
		<div >
			<h1>Register</h1>
			<div>
				<label for="firstName">Firstname:</label>
				<input type="text" name="firstName" required> 
				<label for="lastName">Lastname:</label>
				<input type="text" name="lastName" required>
				<label for="email">Email:</label>
				<input type="text" name="email" required>
				<label for="username">Username:</label>
				<input type="text" name="username" required>
				<label for="password">Password:</label>
				<input type="text" name="password" required>
				<button type="submit">Register</button>
			</div>
		</div>		
	</form>
	
</body>
</html>